@import "tailwindcss";

:root {
  --background: #050508;
  --foreground: #ededed;
}

@theme {
  --font-mono: var(--font-dm-mono);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050508;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection */
::selection {
  background: rgba(16, 185, 129, 0.2); /* Emerald green selection */
  color: #10b981;
}

/* Utility for hiding scrollbar but keeping functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
